*.o
config.log
config.status
src/Makefile
src/defines.h
src/parser.c
src/sysmond
src/sysmon
src/sysmon-ping-helper
src/trapdecode-test
src/snmpget-test
src/confgen-test
web-ui/backend/sysmon-web
web-ui/backend/sysmon-web-ui
autom4te.cache/
ios/Sysmon/GoogleService-Info.plist
